body, html, p {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container {
    max-width: 1200px;
    margin: 0 auto;    
    padding: 0 20px;   
    position: relative;
    display: block;
    
}
.banner-limited{
    background-color: #f4e09a;
    height: 25px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.banner-text{
    font-family:'Inter', sans-serif;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
}
.banner-free-shipping{
   background-color: #C4DFF2;
   height: 25px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.top-bar{
       display: flex;
       background-color: #F8F1E1;
       align-items: center;
       justify-content: space-between;
       width: 100%;
       height: 40px;
       flex-wrap: wrap;
       position: relative;
}

.top-oil {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 7%;
}

.top-box {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 3%;
}

.top-mail {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    margin-right: 3%;
}

.top-phone {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 7%;
}
span{
     font-family:'Inter', sans-serif;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    font-weight: 285;
}

.hero {
  background-color: white;
  height:150px;
  display: flex;
  align-items: center;
  position: relative;
}
p{
  font-family: 'Inter';
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-block {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo-image {
  height: 90px;
  margin-top: 20px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.action-item {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  margin-top: 10px;
}

.action-icon {
  width: 22px;
  height: 22px;
}

.cart-dot {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
}
.link-no-style{
 text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.action-label{
font-family: 'Inter',  sans-serif;;
}
.divider-vertical {
  margin-top: 10px;
  width: 1.2px;
  height: 70px;        
  background: #c6c6c6;   
}
    
.divider-short {
  margin-top: 10px;
  width: 1.2px;
  height: 30px;       
  background: #c6c6c6;   
}
.tagline{
    margin-top: 10px;
    font-family: 'Inter',  sans-serif;;
    font-weight: 400;
}
    

.main-nav {
  display: flex;
  gap: 15px;            
  align-items: center;
  flex-wrap: wrap;      
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
 margin-top: 10px;
 height: 50px;
}


.nav-link {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  font-size: 13px;
  line-height: 1;
  font-weight: 500;
  white-space: nowrap;
  font-family: 'Inter',  sans-serif;;

}
.nav-green {
  display: inline-block;
  color: #28A970;
  text-decoration: none;
  font-size: 13px;
  line-height: 1;
  font-weight: 500;
  white-space: nowrap;
  font-family: 'Inter',  sans-serif;;

}
.nav-orange {
  display: inline-block;
  color: #E76B35;
  text-decoration: none;
  font-size: 13px;
  line-height: 1;
  font-weight: 500;
  white-space: nowrap;
  font-family: 'Inter',  sans-serif;;

}
.promo-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  position: relative;
  height: 400px;
}

.promo-large {
  grid-row: 1 / span 2;
}

.promo-image-large {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.promo-image-small{
  
  width: 98%;
  height: 98%;
  object-fit: cover;
  display: block;
  border-radius: 8px;

}

.info-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 32px;
  margin-top: 200px;
  height: 400px;
}

.info-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box img {
  width: 55%;
  height: 55%;
  margin-bottom: 16px;
}
.info-line {
  width: 50px;           
  height: 1px;            
  background-color: #bcb4b4; 
  margin: 7px;     
  margin-left: 50%;
  transform: translateX(-50%);
}

.info-title {

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 17.3438px;
line-height: 24px;


color: #000000;


}
.info-desc {

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 13.5281px;
line-height: 24px;

display: flex;
align-items: center;
text-align: center;

color: #000000;


}

.bestsellers-header {
    text-align: center;
    margin-top: 40px;
    position: relative;
}

.header-icon {
    width: 45px;
    margin-bottom: 8px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 6px 0 10px;
    font-family: 'inter';
}

.see-all {
    position: absolute;
    right: 0;
    color: #92c11f;
    font-size: 14px;
    font-weight: 500;
    font-family: 'inter';
}



.products-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
    justify-content: center;
}


.product-card {
    width: 100%;
    min-width: 250px;
    min-height: 300px;
    border: 1px solid #e8e8e8;  
    
}

.product-image {
    width: 100%;
    height: 260px;
    background: #ffffff;
    border-radius: 6px;
}

.product-title {
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 4px;
}

.product-desc {
    font-size: 13px;
    color: #666;
    line-height: 1.3;
}


.product-meta {
    margin-top: 10px;
    
}

.product-price {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;
}

.product-price .from {
    color: #666;
    font-size: 13px;
}

.product-price .price {
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.product-rating .stars {
    color: #f5d100;
    font-size: 13px;
    letter-spacing: 1px;
}

.product-rating .opinions {
    font-size: 12px;
    color: #666;
}
.badge-kids {
  display: inline-block;
  background-color:#F3E0F6;
  color: #6A2B74;
  font-size: 12px;
  font-weight: 600;
 width: 67px;
 height: 31px;
 margin-top: 20px;
 text-align: center;
 justify-content: center;
}
.section-all{
  height: 1100px;
  position: relative;
}
.expert-block{
  height: 500px;
  border: 1px solid #e8e8e8;
  position: relative;
}


.quote-mark{
 
margin-top: -50px;

font-family: 'Inter' 'sans-serif';
font-style: normal;
font-weight: 700;
font-size: 100px;
text-align: center;
color: #000000;


}
.expert-title{

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28.2656px;
line-height: 40px;
text-align: center;

color: #000000;


}
.expert-image{
  position: absolute;
  left: 100px;
  margin-bottom: 10px;
}
.speech-bubble{
position: absolute;
right: 10px;
top: 180px;
}
.tablet-image{
position: absolute;
right: 430px;
top: 230px;
}
.speech-text{
  z-index: 3;
 position: absolute;
 right: 0px;
top: 320px;
max-width: 500px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17.3438px;
color: #000000;


}
.container-medium {
    max-width: 1200px;
    margin: 0 auto;    
    padding: 0 20px;   
    height: 600px;
    position: relative;
}

.two-column-section {
  width: 100%;
  background-color: #F8F1E1;
  height: 580px;
  position: relative;
}


.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  
}


.left-column {
  display: flex;
  margin-top: 70px;
}

.knowledge-card {
  background: #ffffff;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10%;
  margin-left: 5%;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28.4062px;
line-height: 40px;
}

.small-icon {
  width: 50px;
  height: 40px;
  align-items: flex-start;
  display: flex;
}

.knowledge-title {
  font-size: 24px;
  line-height: 1.3;
  margin: 0;
}

.knowledge-desc {
  

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15.8344px;
line-height: 24px;
color: #000000;
  margin-left: 5%;
margin-top: 3%;
}

.knowledge-button {

width: 245px;
height: 50px;
border: none;
background: #A3BB33;
border-radius: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14.375px;
line-height: 50px;
text-align: center;
color: #FFFFFF;
cursor: pointer;
  margin-left: 5%;
margin-top: 3%;

}


.right-column {
  display: flex;
  flex-direction: column;
  position: relative;
   margin-top: 70px;
 
}


.article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0px;
  margin: 0;
  
}


.article-card {
  background: #ffffff;
  border-radius: 8px;
  padding: 17px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}


.article-label {
  background: #E76B35;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  padding: 6px 22px;
  position: absolute;
  top: 7%;
  border-radius: 4px;
  align-self: flex-start;
}


.article-title {

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16.4688px;
line-height: 30px;


}

.article-desc {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13.95px;
line-height: 18px;
max-width: 350px;


}


.article-button {
  align-self: flex-end;
position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 13.75px;
line-height: 50px;
padding: 10px 20px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #A3BB33;
position: absolute;
height: 50px;
cursor: pointer;
background: #FFFFFF;
border: 1px solid #A3BB33;
border-radius: 17px;
position: absolute;
margin-top: 8.5%;
}


.reviews{
  width: 100%;
  height: 700px;
  background-color: white;
  position: relative;
}
.reviews-top {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.reviews-logo{
  width: 200px;
  height: 200px;
  margin-top: 5%;
}
.parallax1{
  position: absolute;
  top: 80%;
  right:10%;
}
.parallax2{
  position: absolute;
  top: 75%;
  right:6%;
}
.parallax3{
  
  position: absolute;
  top: 80%;
  left: 10%;
}
.reviews-heading{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28.7031px;
line-height: 40px;
}
.reviews-score{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13.8344px;
line-height: 40px;

}
.reviews-stars{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13.6562px;
line-height: 40px;
color: #E9D247;
}
.testimonial {
  height: 277px;
  width: 680px;
  border: 1px solid #F3F3F3;
  display: flex;
  justify-self: center;
  position:relative;
  justify-content: center;   
  
}
.testimonial-name{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14.0656px;
line-height: 24px;
position: absolute;
justify-self: center;
color: #000000;
margin-top: 10%;

}
.testimonial-text{
  margin-top: 15%;
  max-width: 286.68px;
font-family: 'Inter';
font-style: italic;
font-weight: 400;
font-size: 13.8344px;
line-height: 24px;
color: #000000;
}
.testimonial-page{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13.7188px;
line-height: 24px;
color: #000000;
margin-top: 30%;
position: absolute;
}
.reviews-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.reviews-check{

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13.1813px;
line-height: 24px;

color: #000000;
}
.hero-background {
  width: 100%;
  max-width: 1920px; 
  height: 753px;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.hero-center {
  width: 764px;
  height: 543px;
  position: relative;
  z-index: 3;
  display: flex;
  
  background-color: white;
 
  

  flex-direction: column;
  gap: 16px;
  position: relative;
}
.hero-small-icon{
   width: 56px;
  height: 54px;
  align-items: flex-start;
  display: flex;
}
.hero-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8%;
  margin-left: 5%;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28.4062px;
line-height: 40px;
}
.hero-title {
  
  
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28.6875px;
line-height: 35px;

color: #000000;


}
.hero-subtitle {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 17.3438px;
line-height: 22px;
color: #000000;
position: absolute;
top: 17% ;
left: 14%;
}

.hero-desc {
  

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15.8344px;
line-height: 24px;
color: #000000;
  margin-left: 5%;
margin-top: 3%;
max-width: 600px;
}

.hero-desc-2 {
  

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15.8344px;
line-height: 24px;
color: #000000;
  margin-left: 5%;
margin-top: 0%;
max-width: 600px;
}
.hero-button {

width: 245px;
height: 50px;
border: none;
background: #A3BB33;
border-radius: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14.375px;
line-height: 50px;
text-align: center;
color: #FFFFFF;
cursor: pointer;
  margin-left: 5%;
margin-top: 3%;
}
.awards {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 20px; 
  margin-top: 20px; 
  margin-left: 5%;
}

.award-1,
.award-2 {
  margin-left: 0; 
}

.newsletter-banner {
  width: 100%;
  height: 420px;
  background-color: #F8F1E1;
  display: flex;
  align-items: center;
}

.newsletter-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.newsletter-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  color: rgb(0, 0, 0);
}

.newsletter-title {

  font-weight: bold;
 

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 27.9844px;
line-height: 40px;



}

.newsletter-description {
  font-size: 16px;
  line-height: 1.4;
  

max-width: 384.39px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17.3438px;
line-height: 24px;


}

.newsletter-input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  border: none;
  border-radius: 4px;
}

.newsletter-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
}

.newsletter-checkbox {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 3px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12.4688px;
line-height: 30px;

display: flex;
align-items: center;

color: #444444;


}

.newsletter-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-image {
  max-height: 100%;
  max-width: 100%;
}
.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.input-wrapper input {
  width: 100%;
  padding: 9px 0px 12px 15px; 
  font-size: 16px;
  box-sizing: border-box;
border: 1px solid #BDBDBD;
border-radius: 17px;
background: none;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12.95px;
line-height: 16px;
display: flex;
align-items: center;
color: #757575;
height: 50px;
}

.input-wrapper button {
  position: absolute;
  top: 0;
  right: -20px;
  height: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0px 20px;
  cursor: pointer;
height: 50px;
background: #A3BB33;
border-radius: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 13.1813px;
line-height: 50px;



}
a{
  color:#444444 ;
}
