body{
  font-family: 'Inter';
}

.header-background {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 16px;
}


.topbar {
  height: 64px;               
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}


.brand-logo {
  width: 120px;
  height: auto;
  display: block;
}


.search-box {
  flex: 1;
  max-width: 520px;
  display: flex;
  align-items: center;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  overflow: hidden;
  background: #f7f7f7;
  height: 38px;    
        
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 12px;
  font-size: 14px;
  background: transparent;
  color: rgb(0, 0, 0)
}
.search-input::placeholder { 
    color: #7a7a7a;
 }

.search-btn {
  width: 42px;
  height: 100%;
  border: none;
  background: #00796B;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.search-btn img { width: 18px; height: 18px; }


.actions {
  display: flex;
  align-items: center;
  gap: 14px;
}


.phone-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  background: #f7f7f7;
  height: 34px;               
  white-space: nowrap;
}
.text-box{
    display: flex;
  flex-direction: column; 
  align-items: center;  
}
.phone-icon {
     width: 25px;
      height: 25px; }
.phone-text { 
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 23px;
color: #111111;
}
.help-text{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #7A7A7A;
}


.action-list {
  display: flex;
  align-items: flex-end;
  gap: 14px;
}
.action-item {
  display: flex;
  flex-direction: column;      
  align-items: center;
  text-decoration: none;
  color: #222;
  gap: 4px;
  min-width: 56px;             
}
.action-ico { 
width: 18px;
 height: 18px; 
}
.action-label { 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 14px;
color: #000000;
}


.categories {
  height: 30px;               
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 0 8px;
  border-top: 1px solid #f0f0f0;
}

.category-link {
 text-decoration: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 19px;
color: #737373;          
padding: 4px 8px;
border-radius: 6px;
}
.icon-wrap {
  position: relative;
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
}

.icon-wrap .action-ico {
  width: 18px;
  height: 18px;
  display: block;
}

.icon-badge {
  position: absolute;
  top: -25%;
  right: -25%;
  min-width: 10px;
  height: 15px;
  padding: 0px 4px;
 background: #00796B;
 border-radius: 8.82px; 
  line-height: 16px;
  text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12.6px;
color: #FFFFFF;
}

.nav-background {
  width: 100%;
  background: #E0F2F1;
}

.nav-background .main-container {
  padding: 8px 16px;
}


.nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  height: 56px;
}

.nav-dept {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  background: #fff;
   border-radius: 14px !important;
   border: none !important;
  text-decoration: none;
  color: inherit;
}
.nav-dept-text { 
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 21px;
color: #222222;
 }
.nav-chev { width: 12px; height: 12px; }


.nav-links {
  display: flex;
  gap: 18px;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.nav-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  padding: 6px 8px;
  border-radius: 4px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 21px;
color: #222222;
}
.nav-link1{
 display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  padding: 6px 8px;
  border-radius: 4px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 21px;
color: #00796B;
}

.nav-chev-small { width: 10.48px; height: 5.51px; }


.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav-mini {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 21px;
color: #111111;


}


.promo-btn {
  background: #111;
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 15px;
height: 35px;
color: #FFFFFF;
}

.dept-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;             
  height: 36px;
  background: #28A970;      
  border-radius: 8px;       
  flex-shrink: 0;
}


.dept-badge .dept-icon {
  width: 18px;              
  height: 18px;
  object-fit: contain;
  display: block;
}


.nav-dept {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #e9e9e9;
  text-decoration: none;
  color: inherit;
}


.nav-dept-text { font-weight: 600; font-size: 14px; color: #222; }
.nav-chev { width: 12px; height: 12px; }

.main-layout {
    display: flex;
    width: 100%;
    padding-top: 40px; 
    padding-bottom: 40px;
    background-color: #F7F7F8; 
}


.left-sidebar {
    width: 120px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    margin-top: 50px ;
  
}

.sidebar-pill {
    width: 60px;
    background: #fff;
    border-radius: 30px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    height: fit-content; 
}

.icon { width: 24px; height: 24px; object-fit: contain; cursor: pointer; }


.content-area {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    padding-right: 120px; 
}

.content-wrapper {
    width: 1200px;
    max-width: 100%;
}


.hero-row {
    display: flex;
    gap: 24px;
    height: 430px; 
    margin-bottom: 24px;
}


.card {
    flex: 1;
    border-radius: 10px;
    padding: 36px;
    position: relative;
    overflow: hidden;
    display: flex;
    
    justify-content: space-between;
    align-items: center; 
}

.card-black { background: #000; color: #fff; flex: 1.8;  }
.card-teal  { background: #007A68; color: #fff; flex: 0.6; border: none; }
.card-gray  { background: #CED4D6; color: #111; }

.column-flex {
    flex-direction: column;
    justify-content: flex-start; 
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1.3;
}
.small-card { flex: 1; padding: 25px; } 


.card-text { z-index: 2; position: relative; min-width: 160px; }
.center-text { text-align: center; width: 100%; margin-top: -30px; }

h2 { font-size: 36px; line-height: 1.1; margin-bottom: 12px; font-family: sans-serif; font-weight: 700; }
h3 { font-size: 26px; margin-bottom: 8px; font-family: sans-serif; font-weight: 700; }
p { font-size: 15px; opacity: 0.85; margin-bottom: 20px; font-family: sans-serif; line-height: 1.4; }

.btn { 
    display: inline-block; padding: 12px 24px; border-radius: 8px; 
    text-decoration: none; font-weight: 600; font-size: 14px; font-family: sans-serif;
}
.btn-teal { background: #007A68;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
color: #FFFFFF; }
.btn-black { background: #000; 
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
 }
.link-arrow { text-decoration: none;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 15px;
color: #000000;
 }


.img-sony  { height: 100%; width: 100%;align-self: center; position: absolute; }
.img-drone { width: 100%; position: absolute; bottom: 0px; }
.img-small { position: absolute; right: 0px; bottom: 0px; height: 100%; ; width: 100%; }


.features-bar {
    display: flex;
    gap: 16px;
}

.feat-box {
    flex: 1;
    background: #fff;
    border-radius: 12px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.03);
}

.feat-icon { width: 22px; height: 22px; object-fit: contain; }
.feat-info { 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #111111;
 }
.green { 
 font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #00796B; }
.text-photo1{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #FFFFFF;
}
.text-photo{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: #000000;
}
.text-photo2{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #FFFFFF;
}
h3{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 36px;
}


.blk-a1 { position: relative; width: 100%; height: 900px; margin-top: 70px; }
.cirbtn-k1 {
  position: absolute;
  top: 26px;
  right: 16px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background: #ffffff;
  box-shadow: 0 2px 10px #4d4c4c;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.cirbtn-img { width: 12.93px; height: 22.88px; display: block; }


.nyc {
  margin: 0 0 16px 0;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 30px;
  text-align: center;
  margin-top: 100px;
}

.sec-cat-m1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
  margin: 24px 0 40px;
}
.cat-imgbox {
  width: 210px;
  height: 210px;
  background: #e6e6e6;
  display: grid;
  place-items: center;
  margin: 0 auto 12px auto;
}
.cat-img { max-width: 100%; max-height: 100%; object-fit: contain; }
.cat-txt { text-align: center; line-height: 1.3; }
.cat-name { display: block; 
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #222222; }
.cat-count { display: block;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #222222;
opacity: 0.7; }
.sec-new-m1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  margin: 24px 0 0;
}
.new-img {
  width: 266px;
  height: 266px;
  object-fit: cover;
  display: block;
  margin: 0 auto 12px auto;
}
.new-txt { text-align: center; line-height: 1.35; }
.new-name {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
color: #000000;
 }
.new-cat {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 19px;
display: flex;
align-items: center;
color: #555555;
 }
.new-price-now1 {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 21px;
display: flex;
color: #00796B;
 }
.new-price-old {
  display: inline-block;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 21px;
display: flex;
align-items: center;
text-decoration-line: line-through;
color: #555555;
}
.new-price-range { 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 21px;
display: flex;
align-items: center;
color: #555555;
margin-top: 20px;
 }
.bothprice{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.new-price-now{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 21px;
display: flex;
align-items: center;
color: #555555;
margin-top: 20px;
}



.hero-section {
  width: 100%;
  background: #ffffff;
  height: 500px;
  margin-top: 60px;
}


.hero-container {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
}


.hero-image-wrapper {
  width: 100%;
  height: 420px;
  background: url('../img/section.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  
}


.hero-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-left: 20px;
}


.hero-text {
  max-width: 500px;
  margin-left: 40px;
}

.hero-subtitle {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 22px;
color: #00796B;

}

.hero-title {
  
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;
color: #000000;

}

.hero-description {
  margin-bottom: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
color: #000000;

}

.hero-button {
  background: #2c9c79;
  padding: 10px 22px;
  border: none;
  cursor: pointer;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 17px;
color: #FFFFFF;
width: 155.3px;
height: 47px;
background: #00796B;
border-radius: 10px;
}


.hero-arrow {
  width: 10.54px;
  height: 19.94px;
  cursor: pointer;
}
.hero-arrow-right{
  position: absolute;
  left: 97%;
}
.hero-hr{
box-sizing: border-box;
width: 60px;
border-top: 3px solid #00796B;
}